:root {
    --background1: #c15452;
    --background2: #528058;
    --background3: #ded4d9;
    --headingText1: #40141b;
    --headingText2: white;
    --text: #341c16;
}

footer {
    text-align: center;
    background-color: var(--background2);
    color: var(--text);
}

footer p {
    padding: 1rem;
    color: var(--headingText2);
}

#hamburger {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: fixed;
    top: 1rem;
    right: 1rem;
}

#hamburger::before {
    content: "☰";
    color: white;
}

#hamburger.open::before {
    content: "❌";
}

.open a {
    display: block;
}

nav {
    margin: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background-color: var(--background2);
    text-align: center;
    flex-direction: column;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--headingText2);
    text-align: center;
    padding: 20px;
    width: 30%;
    display: none;
    font-size: 1.5rem;
}

nav a:hover {
    background-color: #7Fb685;
    color: var(--headingText1);
}

main,
header,
footer {
    margin: 0 auto;
    font-family: Roboto;
    border-radius: 6px;
}

main {
    background-color: var(--purp);
    width: 70%;
}

header h2,
p {
    text-align: center;
}

h1 {
    text-align: center;
    background-color: var(--background1);
    color: var(--headingText2);
    padding: 1rem;
    border-radius: 6px;
}

h2 {
    color: var(--headingText1);
}

p,
figcaption {
    color: var(--text);
}

#pfp {
    border-radius: 50%;
    width: 200px;
    height: auto;
    padding: .5rem;
}

.social {
    text-decoration: none;
    color: #7a302f;
}

.social:visited {
    text-decoration: none;
    color: #7a302f;
}

.about-me {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: .5rem;
    display: grid;
    place-items: center;
}

.gallery {
    display: block;
    margin: 0 auto;
    padding: 5px;
    padding-bottom: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    background-color: var(--background3);
}

.gallery-img {
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-width: 12rem;
}

.gallery h2 {
    grid-column: 1/4;
    text-align: center;
}

.gallery-img figure {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.gallery-img figure img {
    width: auto;
    height: 25rem;
}

.gallery-img figcaption {
    text-align: center;
}

.selectedImg {
    overflow: visible;
    z-index: 1;
}

.figSelectedImg {
    background-color: var(--background1);
    padding: 10px;
    border: 1px solid var(--background2);
    height: 22rem;
}

.gallery-table {
    grid-column: 1/-1;
}

.gallery-table table,
.gallery-table table th,
.gallery-table table td {
    border: 2px solid var(--background2);
}

.gallery-table table {
    border-collapse: collapse;
    color: var(--text);
}

.gallery-table table,
.gallery-table table th,
.gallery-table table td {
    background-color: rgba(255, 255, 255, 0.373);
}

.form {
    width: 60%;
    margin: 0 auto;
}

.order-form fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem;
}

.order-form legend {
    color: var(--headingText1);
    padding: 0 .5rem;
}

.order-form label {
    display: block;
    padding-top: 1rem;
    color: var(--text);
    font-size: .9rem;
}

.order-form p {
    font-size: .9rem;
    color: var(--headingText1);
    text-align: left;
}

.order-form input[type="text"],
.order-form input[type="tel"],
.order-form input[type="email"],
.order-form input[type="url"],
.order-form input[type="date"],
.order-form select,
.order-form input[type="number"] {
    background-color: var(--background3);
    display: block;
    border: 1px solid var(--headingText1);
    border-radius: 6px;
    padding: .75rem;
    color: var(--text);
    width: 80%;
    max-width: 300px;
    appearance: none;
}

.order-form input[type="radio"],
.order-form input[type="checkbox"] {
    margin-right: 6px;
}

.order-form input[type="submit"] {
    border: 2px solid var(--headingText1);
    border-radius: 6px;
    background-image: linear-gradient(var(--background1), var(--headingText1));
    color: var(--headingText2);
    padding: .8rem;
    width: 100%;
    max-width: 300px;
    margin: 2rem 20% 2rem 25%;
    font-size: 1.5rem;
}
.order-form input[type="submit"]:hover {
    background-image: linear-gradient(var(--background1), var(--background2));
}

.order-form input:required {
    border-left: solid 8px var(--background1);
}

.order-form input:required:valid {
    border-left: solid 8px var(--background2);
}

/*      Fonts       */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}