:root {
    --background1: #c15452;
    --background2: #7Fb685;
    --headingText1: #40141b;
    --headingText2: white;
    --text: #341c16;
    --purp: #ded4d9;
}

footer {
    text-align: center;
    background-color: var(--background2);
    color: var(--text);
}

footer p {
    padding: 1rem;
    color: var(--headingText2);
}

main,
header,
footer {
    margin: 0 auto;
    width: 65%;
    font-family: Roboto;
    border-radius: 6px;
}

main {
    background-color: var(--purp);
}



h1 {
    text-align: center;
    background-color: var(--background1);
    color: var(--headingText2);
    padding: 1rem;
    border-radius: 6px;
}

h2 {
    color: var(--headingText1);
}

p {
    color: var(--text);
}

div {
    padding: 1rem;
}

/* ----- Font ----- */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}