@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

body {
    width: 70vw;
    font-family: Roboto;
}

.container {
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

header {
    width: 70vw;
    text-align: center;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
}

header h1 {
    background-color: rgb(105, 24, 42);
    color: white;
    padding: 10px;
    margin: 0;
}

nav {
    margin: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background-color: rgb(247, 157, 157);
}

nav a {
    text-decoration: none;
    color: rgb(105, 24, 42);
    display: block;
    text-align: center;
    padding: 20px;
    width: 25%;
}

nav a:hover {
    background-color: rgb(229, 127, 127);
}

main {
    align-items: center;
    display: grid;
    grid-template: auto/ 66% 34%;
    max-width: 80vw;
}

footer {
    align-items: center;
    text-align: center;
    background-color: rgb(105, 24, 42);
    color: white;
    padding: 10px;
    margin: 5px;
}

.card {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    border: solid 1px rgb(80, 40, 40);
    border-radius: 10px;
    max-height: fit-content;
    width: 96%;
    height: 100%;
}

.card h1 {
    color: white;
    background-color: rgb(105, 24, 42);
    padding: 10px;
    padding-top: 10px;
    margin-top: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    height: auto;
}

.card p {
    margin-left: 20px;
    margin-top: 50px;
}

.card a {
    color: black;
}

.card h2 {
    text-align: center;
    border-bottom: solid 1px black;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.selfie {
    width: 200px;
    height: auto;
    float: right;
    padding: 10px;
    padding-top: 0;
    margin: 0;
}

.flagimg {
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 0;
}

.flagcap {
    text-align: center;
}

.flag {
    float: left;
    margin: 10px;
}

.country {
    margin-top: 150px;
}

.country p {
    margin: 10px;
}